@model IEnumerable<UniversityManagementApp.Models.ResultGrade>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GradeLater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradeValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GradeLater)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GradeValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResultGradeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResultGradeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResultGradeId })
        </td>
    </tr>
}

</table>
