@model UniversityManagementApp.Models.Teacher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Teacher</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Designation.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Designation.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Department.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Department.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalCredit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalCredit)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TeacherId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
