
    <li>@Html.ActionLink("Department Entry", "Create", "Department")</li>
<li>@Html.ActionLink("View All Departments", "Index", "Department")</li>
    <li>@Html.ActionLink("Course Entry", "Create", "Course")</li>
    <li>@Html.ActionLink("Teacher Entry", "Create", "Teacher")</li>
    <li>@Html.ActionLink("Assign Course To Teacher", "Create", "CourseAssign")</li>    
    <li>@Html.ActionLink("View Course Status", "Index", "ViewCourseStatus")</li>
<li>@Html.ActionLink("Students Registration", "Create", "Student")</li>
<li>@Html.ActionLink("Allocate Class Room", "Create", "AllocateClassRoom")</li>
<li>@Html.ActionLink("View Class Schedule And Allocation", "ViewClassScheduleAndAllocation", "AllocateClassRoom")</li>
<li>@Html.ActionLink("Enorll In A Course", "Create", "EnrollCourse")</li>
<li>@Html.ActionLink("Result Entry", "Create", "Result")</li>
<li>@Html.ActionLink("View Result", "Index", "Result")</li>
<li>@Html.ActionLink("UnAssign All Courses", "Index", "Home")</li>
<li>@Html.ActionLink("UnAllocate Class rooms", "Index", "Home")</li>