@model UniversityManagementApp.Models.AllocateClassRoom

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AllocateClassRoom</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Department.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Department.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Course.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Course.Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClassRoom.RoomNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClassRoom.RoomNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WeekDay.Day)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WeekDay.Day)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StarTimeHour)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StarTimeHour)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StarTimeMin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StarTimeMin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndTimeHour)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndTimeHour)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndTimeMin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndTimeMin)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AllocateClassRoomId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
